# Example environment variables. Copy to .env and fill local values.
# Do not commit real secrets or tokens.

APP_NAME=
AUTOMATION_API_KEY=
DB_DRIVER=
DB_ENCRYPT=
DB_NAME=
DB_PASSWORD=
DB_SERVER=
DB_TRUST_CERT=
DB_USER=
ENV=
SECRET_KEY=
WKHTMLTOPDF_PATH=
